# === Node.js ===
node_modules/

# === Environment ===
# .env
# не игнорируем .env, потому что он нужен на этапе сборки (vite build),
# используется в Dockerfile.prod: COPY . . для подстановки VITE_* переменных
.env.example


# === Build artifacts ===
# dist/
# необходимо, чтобы Docker мог скопировать папку dist
# через COPY --from=builder в многоступенчатой сборке

# === Logs ===
logs/

# === Git ===
.gitignore