.room-chat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;

  &__header {
    height: 90px;
  }

  &__messages {
    flex: 1;
    overflow-y: auto;
  }

  &__send-message {
    flex-shrink: 0;
  }
}
