.room-page {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow: hidden;

  &__chat-area {
    width: 75%;
  }

  &__sidebar {
    margin-top: calc((100vh - 20px - 20px - 16px - 16px) / 10 + 16px);
    width: 25%;
  }
}
