.room-page {
  display: flex;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  padding-left: 56px;
  padding-right: 20px;
  overflow: hidden;

  &__chat-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    padding-left: 20px;
  }

  &__chat-header {
    flex: 1;
  }

  &__chat-messages {
    flex: 8;
    overflow-y: auto;
  }

  &__chat-input {
    flex: 1;
  }

  &__sidebar {
    margin-top: calc(10vh + 16px);
    width: 25%;
  }
}
