.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__avatar {
    &--loading {
      border: 2px solid orange;
    }

    &--active {
      border: 2px solid green;
    }

    &--passive {
      border: 2px solid red;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__name {
    font-size: 16px;
  }

  &__email {
    font-size: 14px;
    color: gray;
  }

  &__logout {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
