.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 450px;

  &__label {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(222, 222, 222);
  }

  &__field {
    display: flex;
  }

  &__input {
    --g-text-input-background-color: rgba(30, 30, 30, 0.6);
    --g-text-input-border-color: #3a3a3a;
    --g-text-input-border-color-hover: #3a3a3a;
    --g-text-input-border-color-active: #888;
    --g-text-input-border-radius: 100px;
    --g-text-input-text-color: #e0e0e0;
    --g-text-input-placeholder-color: #777;
  }

  &__input--active {
    --g-text-input-border-color-hover: #888;
    margin-right: 5px;
  }

  &__error-message {
    margin-left: 18px;
  }

  &__generate-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
    background: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: #e0e0e0;
    }
  }

  &__generate-button-icon {
    color: black;
  }

  &__clipboard-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
    background: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: #e0e0e0;
    }
  }

  &__clipboard-button-icon {
    color: black;

    &:hover {
      color: black;
    }
  }

  &__button {
    border-left: 1px solid #3a3a3a;
    transition: all 0.2s ease;
    --g-button-background-color: rgba(30, 30, 30, 0.6);
    --g-button-background-color-hover: #e0e0e0;
    --g-button-border-color: #3a3a3a;
    --g-button-border-width: 1px;
    --g-button-text-color: #777;
    --g-button-text-color-hover: #000;
  }

  &__button--active {
    border-left: none;
  }

  &__button--not-disabled {
    --g-button-background-color: #f5f5f5;
    --g-button-text-color: #111;
  }
}
