.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 440px;
    padding: 32px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 16px;
    box-shadow: 0 0 10px 5px rgba(222, 222, 222, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: rgb(222, 222, 222);
  }

  &__title {
    display: inline-block;
    width: fit-content;
    margin: 0 auto 15px auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
  }

  &__error {
    padding: 12px;
    background: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: rgb(222, 222, 222);
  }

  &__field {
    label {
      display: block;
      margin-bottom: 8px;
      margin-left: 18px;
      font-size: 14px;
      font-weight: 500;
      color: rgb(222, 222, 222);
    }
  }

  &__input {
    --g-text-input-border-color: rgb(222, 222, 222);
    --g-text-input-border-radius: 100px;
  }

  &__button {
    --g-button-background-color: rgb(222, 222, 222);
  }
}
